

input[type=submit] {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


body{
    width:300px;
    height:auto;
}  
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
